asn1crypto==0.22.0
certifi==2017.7.27.1
cffi==1.10.0
chardet==3.0.4
cryptography==3.2
dj-database-url==0.4.2
Django==1.11.3
django-cors-headers==2.1.0
djangorestframework==3.7.3
emacs==24.1.50.1.post20120610
gunicorn==19.7.1
idna==2.6
psycopg2==2.7.3.2
pycparser==2.18
pyOpenSSL==17.2.0
PySocks==1.6.7
pytz==2017.2
requests==2.18.4
six==1.11.0
urllib3==1.22
whitenoise==3.3.1
win-inet-pton==1.0.1
wincertstore==0.2
